@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change scrollbar color for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 30px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #aea9a4; /* 스크롤바 막대 색상 */
  border: 2px solid #a29e9a; /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;

  border: 10px solid transparent; /* Change this to your preferred margin size */
  background-clip: padding-box;
  
}

/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
	background: #000000; /* 스크롤바 뒷 배경 색상 */
}        